body {
  font-family: monospace;
  background-color: White;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.et1 {
  font-size: 40px;
}

.dark-mode {
  background: #121212;
  color: #e0e0e0;
}

.dark-mode .prezes {
  color: #121212;
}

.prezes {
  font-size: 2px;
  color: white;
}
