body {
  font-family: monospace;
  background-color: #e0e0e0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.et1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.et1_2 {
  font-size: 1.2em;
  color: black;
}

.dark-mode .et1 {
  color: white;
}

.dark-mode .et1_2 {
  color: white;
}

.dark-mode {
  background: #424242;
  color: #e0e0e0;
}

.dark-mode .easteregg {
  color: #424242;
}

.easteregg {
  font-size: 2px;
  color: #e0e0e0;
  font-family: sans-serif;
}
