body {
  font-family: monospace;
  background-color: #e0e0e0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 200px;
}

.et1 {
  font-size: 40px;
  width: 10em;
  color: black;
}

.dark-mode .et1 {
  color: white;
}

.dark-mode {
  background: #424242;
  color: #e0e0e0;
}

.dark-mode .easteregg {
  color: #424242;
}

.easteregg {
  font-size: 2px; /* Poprawione z 2px, aby tekst był widoczny */
  color: #e0e0e0;
  font-family: sans-serif;
}

/*.footer {
  background-color: #424242;
  color: #e0e0e0;
  text-align: bottom;
}

.dark-mode .footer {
  background-color: #e0e0e0;
  color: #424242;
}
*/
